[submodule "Emulator/ThirdParty/rfvp"]
	path = Emulator/ThirdParty/rfvp
	url = https://github.com/2018wzh/rfvp
	branch = astra-0.6-hosted
[submodule "Emulator/ThirdParty/siglus_rs"]
	path = Emulator/ThirdParty/siglus_rs
	url = https://github.com/2018wzh/siglus_rs
	branch = astra-hosted
[submodule "Emulator/ThirdParty/art3m1s-core"]
	path = Emulator/ThirdParty/art3m1s-core
	url = https://github.com/2018wzh/art3m1s-core.git
	branch = astra-hosted
