build/
out/
.cache/
.vs/
.vscode/
DerivedDataCache/
Saved/
*.user
*.suo
*.log
*.tmp
*.key
*.pem
*.env
!Projects/Samples/**/Saved/.gitkeep
.vscode
vcpkg_installed
node_modules/
dist/
Prototypes/**/node_modules/
Prototypes/**/dist/
