__pycache__
*.pyc
node_modules/
target/
.tmp/
Emulator/Automation/.local/
.astra-cache/
Examples/TsuiNoSora/.local/
Examples/NativeVN/.local/
.idea
Emulator/ThirdParty/kirikiri2/CMakeUserPresets.json
Emulator/ThirdParty/kirikiri2/build/
Emulator/ThirdParty/kirikiri2/vcpkg_installed/
Emulator/Source/Families/astra-emu-krkr/target/
